/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

/*===================================================*/

/*GLOBALS*/

/*===================================================*/

html, body{
  font-family: 'Inconsolata', monospace;
  background-color: #061633; 
  /*background-color: purple;*/
  margin: 10px;
}

/*===================================================*/

/*HEADER AREA*/

/*===================================================*/

.book-cover {
  margin-top: 70px;
  width: 70px;
  height: 70px;
  /*border-radius: 300px;*/
  margin-bottom: 30px;
}

h1 {
  color: #1164ff;
  font-size: 2.3rem;
}

/*SUBTITLE*/

h2 {
  color: cyan;
  font-size: 1.0rem;
}

/*SOCIAL ICONS AT TOP*/

.icon {
  width:20px;
  height: 20px;
  margin: 0 20px;
}

.fa-envelope-o {
  position: relative;
  top:6px;
  right:5px;
}

.pad10 {
  padding: 10px 0;
}

/*===================================================*/

/* MAIN / CONTENT */

/*===================================================*/

.white-box {
  display: block;
  width: 160px;
  height: 60px;
  background-color: rgba(255,255,255,.8);
  padding: 20px 20px;
  border-radius: 6px;

  margin: auto !important;
  /*text-align: center;*/
  /*margin-bottom: 50px;*/

}

.amazon {
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;

}

/*padding-bottom: 50px;*/

.amazon .amazon__logo {
      width:110px;
      /*margin: 0 auto;*/
      /*text-align: center;*/
      /*position: relative;*/
      /*left:6px;*/
      /*bottom: 7px;*/
    }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

/*align-content: center;*/

.container p {
      line-height: 1.7rem;
      font-size: 1rem;
      color: lightgray;
    }

/*align-items: stretch;*/

.container--rel{
    position: relative;
    bottom: 10px;
  }

.container--parag {
    position: relative;
    /*left: 8px;*/
    max-width: 440px;

    /*padding: 0 0px;*/
    margin:auto;
  }

.container--parag p {
    /*columns: 2;*/
    }

.container--contact {
    max-width: 300px;

    /*padding: 0 0px;*/
    margin:auto;

  }

.container--left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /*margin-left: 25px;*/
  }

.container--marginbot30 {
    margin-bottom: 30px;
  }

.container--marginbot40 {
    margin-bottom: 40px;
  }

.container--marginbot60 {
    margin-bottom: 60px;
  }

.container--marginbot80 {
    margin-bottom: 80px;
  }

.container--martop30 {
    margin-top: 30px;
  }

.container--martop50 {
    margin-top: 100px;
  }

/*RETURN BUTTON*/

.return {
  display: inline-block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 15px 30px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  /*font: normal normal bold 20px/50px Arial, Helvetica, sans-serif;*/
  font-family: 'Inconsolata', monospace, monospace;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: normal;
  /*text-transform: uppercase;*/
  text-overflow: clip;
  /*background: none;*/
  margin-bottom: 100px;
}

.return:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.card-div {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;

  /*flex: 0 0 230px;*/
  height:auto;
  /*border: red solid 5px;*/

}

.card-div:nth-child(odd) {
  /*margin-right: 25px;*/
}

.spread img {
    width:500px;
  }

p.caption {
    /*font-size: 100%;*/
    /*margin: auto;*/
    text-align: center;
    font-size: .9rem;
  }

.card-bottom {
    width:400px;
    /*height: 200px;*/
    background-color: white;
    padding: 40px;
    height: auto;
}

.card-bottom .copy {
      margin-top: 8px;
    }

.card-bottom p {
      line-height: 1.5rem;
      font-size: 1rem;
      color: gray;
    }

.text__title {
      font-size: 1.4rem;
      color: blue;
      padding-bottom: 20px;
    }

.text--smaller {
      font-size: 1.1rem;
      /*margin-top: 35px;*/
    }

.tag-container {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag-container .tag {
    margin-right: 5px;
    padding: 0px 10px;
    border-radius: 4px;
    background-color: red;
  }

.tag-container p {
      font-size: .7rem;
      color:white;
    }

.tag-container .tag--red {
    background-color: red;
  }

.tag-container .tag--orange {
    background-color: #FF9500;
  }

.tag-container .tag--yellow {
    background-color: #FFC800;
  }

.tag-container .tag--purple {
    background-color: #A100FF;
    /*background-color: gold;*/
  }

.tag-container .tag--blue {
    background-color: blue;
  }

.tag-container .tag--bluegreen {
    background-color: #00D4AD;
  }

@-ms-viewport{
  width: device-width;
}

/*IMPORTANT TO GET THE FULLSCREEN IMAGE TO TOUCH THE BOTTOM!!*/

/*html {
  height: 100%;
}

body{
    min-height: 100%;
}*/

/*====================*/

/*       MIXINS       */

/*====================*/

/* MOBILE Devices, Phones -- 767 PIXELS and SMALLER */

@define-mixin mobile  {
    @media only screen and (max-width : 767px) {

    }
}

/* STANDARD Devices, Tablets -- 768 PIXELS and LARGER */

@define-mixin standard  {
    @media only screen and (min-width : 768px) { 

    }
}

/* HOVER.CSS: Grow Shadow*/

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.hvr-grow-shadow-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow-2:hover, .hvr-grow-shadow-2:focus, .hvr-grow-shadow-2:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.035);
  transform: scale(1.035);
}

.hvr-grow-shadow-3 {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
  -webkit-transition-property: all;
  transition-property: all;
}

.hvr-grow-shadow-3:hover, .hvr-grow-shadow-3:focus, .hvr-grow-shadow-3:active {
  /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.hvr-grow-shadow-3:hover p, .hvr-grow-shadow-3:focus p, .hvr-grow-shadow-3:active p {
    color: cyan;
  }

.hvr-grow-shadow-4 {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow-4:hover, .hvr-grow-shadow-2:focus, .hvr-grow-shadow-2:active {
  /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
  -webkit-transform: scale(1.07);
  transform: scale(1.07);

}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  }

/*NOT BEING USED*/

.aa-tooltip {
    background: blue;
    font-size:10px;
    height:50px;
    width:100px;
    padding:10px;
    color:#fff; 
    z-index: 99;
    border: none !important;
    border-radius: 0;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.8;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* CUSTOM, iPhone Retina */

/*@media only screen and (min-width : 320px) {
    }*/

/* EXTRA SMALL Devices, Phones */

/*@media only screen and (min-width : 480px) {
    }*/

/*CUSTOM BREAKPOINT: */

@media only screen and (max-width : 879px) {
       /* .card-div:nth-child(odd) {
          margin-right: 0px;
        }*/

    }

/* EXTRA SMALL Devices, Phones -- 767 PIXELS and SMALLER */

@media only screen and (max-width : 767px) {
       
    }

/* SMALL Devices, Tablets -- 768 PIXELS and LARGER */

@media only screen and (min-width : 768px) { 

    }

/* MEDIUM Devices, Desktops -- 992 PIXELS and LARGER */

/*@media only screen and (min-width : 992px) {*/

/*}*/

/* LARGE Devices, Wide Screens -- 1200 PIXELS and LARGER */

/*@media only screen and (min-width : 1200px) {*/

/*}*/